.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  width: 100%;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  bottom: 64px;
  min-height: 500px;
  position: fixed;
  right: calc(100vw * 35 / 100 / 2);
  top: 64px;
}

.controlColumn {
  width: 50%;
}

@media (max-width: 768px) {
  .controlColumn {
    display: flex;
    width: calc(100% + 64px);
    padding: 0;
    margin: -32px;
    overflow-x: scroll;
    scrollbar-width: none;
    position: relative;
    bottom: -400px;
  }

  .controlColumn::-webkit-scrollbar {
    display: none;
  }

  .characterWrapper {
    position: relative;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .header {
    width: 100%;
  }
}
