.buttonRow {
    overflow-x: auto;
    white-space: nowrap;
    padding-inline: 24px;
    padding-block: 40px;
    margin: -24px;
}

@media (max-width: 768px) {
    .buttonRow::-webkit-scrollbar {
        display: none;
    }
}
